<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, target-densitydpi=device-dpi">
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <title>Kanban - Login</title>
</head>

<body>
    <div class="login-container">

        <h1>로그인 해주세요</h1>
        <br>
        <form th:action="@{/login}" method="post" autocomplete="current-password">
            <input type="text" name="user" placeholder="이메일" required>
            <input type="password" name="pass" placeholder="비밀번호"  required>
            <input type="submit" name="login" class="login-submit" value="로그인">
        </form>

        <h4>또는</h4>
        <div class="social-login">
            <button class="social-submit" data-social="google">Google 계정으로 로그인</button>
            <!--
            <button class="social-submit" data-social="facebook">Facebook 계정으로 로그인</button>
            <button class="social-submit" data-social="github">Github 계정으로 로그인</button>
            <button class="social-submit" data-social="naver">Naver 계정으로 로그인</button>
            <button class="social-submit" data-social="kakao">Kakao 계정으로 로그인</button>
            -->
        </div>

        <div class="login-help">
            <a href="/register">회원 가입</a> / <a href="#" onclick="alert('관리자에게 문의하세요. \n chanwookim@me.com');">계정을 잊으셨나요?</a>
        </div>

    </div>




    <script th:src="@{/js/jquery.min.js}"></script>
    <script>
        $('.social_login').click(function () {
            var socialType = $(this).data('social');
            location.href = "/oauth2/authorization/"+socialType;
        });
    </script>

</body>
</html>